.container {
  background: #20202a;
  width: 100%;
  height: 100%;

  padding: 16px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.person_info_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.person_info_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.person_info_item > h6 {
  color: var(--text-color-contrast);
  font-size: 12px;
}

.person_info_item > span {
  color: var(--text-color-primary);
  font-size: 12px;
}

.divider {
  background: var(--text-color-primary);
  width: 100%;
  height: 1px;
  opacity: 0.3;
}

.skill-data {
  display: flex;
  justify-content: space-between;
}

.skill-data > h6 {
  font-size: 12px;
  color: var(--text-color-contrast);
}

.skill-data > span {
  font-size: 12px;
  color: var(--text-color-primary);
}

.skill-progress {
  width: 100%;
  height: 4px;

  background: linear-gradient(transparent 0%, var(--color-primary) 80%);
}
