#credentialsUI {
  width: 100vw;
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: var(--main-background);
}

#titleContainer {
  display: flex;
  flex-direction: column;

  margin-top: 8rem;

  > h3 {
    color: var(--primary-color);
  }
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;

  text-align: center;

  margin-top: 20px;

  > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  p {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

#timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 600px;
  width: 80%;
  height: max-content;

  margin-top: 20px;

  > header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > h2 {
      font-size: 2rem;
      color: var(--primary-color);
    }
  }
  > div {
    width: 100%;
    height: max-content;

    border-left: 1px solid var(--gray);

    margin-top: 50px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: max-content;

  margin-bottom: 30px;

  > h2 {
    margin-left: 35px;
  }
  > strong {
    margin-top: 10px;
    margin-left: 35px;
  }
  > p {
    margin-top: 10px;
    margin-left: 35px;
  }
  > hr {
    margin-top: 10px;
    width: 80%;
    margin-left: 35px;
  }
}

.mark {
  width: 45px;
  height: 45px;

  border-radius: 100%;

  background: var(--font-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-22.5px);

  position: absolute;

  margin-top: 7px;

  > svg {
    font-size: 1.8rem;
    fill: var(--white);
  }
}
