@keyframes looping {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}

.buttonUI {
  width: 100%;
  max-width: 260px;
  height: 45px;

  background: var(--primary-color);
  color: var(--white);

  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  outline: 0;
  border: 0;

  border-radius: 5px;

  margin-top: 10px;
  padding: 1rem;

  transition: filter 0.4s;

  &:hover {
    filter: brightness(0.9);
    > svg {
      animation: looping 2s infinite;
    }
  }

  > svg {
    font-size: 1.8rem;
  }
}
