@keyframes swap {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#button {
  outline: 0;
  border: 0;
  margin: 0;
  padding: 5px;

  position: fixed;
  top: 20px;
  left: 20px;

  background: var(--black);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 3px;

  cursor: pointer;
  > svg {
    animation: swap 0.3s forwards;
    color: var(--primary-color);
    font-size: 1.5rem;
  }
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  max-width: 180px;

  position: fixed;
  top: 75px;
  left: 20px;

  background: var(--black);
  color: white;

  z-index: 2;
  overflow: hidden;

  border-radius: 5px;

  padding: 10px;

  ol {
    list-style: none;
    padding-left: 1rem;
    li + li {
      margin-top: 10px;
    }
  }
  li {
    font-weight: 600;

    transition: transform 0.3s;

    cursor: pointer;
    &:hover {
      transform: translateX(5px);
    }
  }

  transition: all 0.6s;
}

.opened {
  opacity: 1;
  transform: translateY(-20px);
}
.closed {
  opacity: 0;
  pointer-events: none;
}

.selected {
  color: var(--primary-color) !important;
}
