@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #ffffff;
  --secondary-background: #ebebeb;
  --black-background: #151515;
  --font-color: #313131;
  --primary-color: #ff0077;
  --secondary-color: #990047;
  --black: #000000;
  --white: #ffffff;
  --gray: #d3d3d3;
}

html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
}

p {
  font-size: 1.1rem;
}

span {
  font-size: 1.1rem;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  background: var(--font-color);
}
