@keyframes animationLeft {
    0% {
        left: -3000px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;

    }
}

@keyframes animationRight {
    0% {
        right: -3000px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;

    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem 0 0rem 0rem;
    animation: animationLeft 2s backwards;

    h2 {
        font-weight: 600;

        @media (min-width: 1200px) {
            font-size: 2rem;
        }
    }

    span {
        font-size: 1rem;
        text-align: center;
        margin-top: 2rem;
        font-family: 'Roboto Condensed';

        @media (min-width: 1200px) {
            font-size: 1.5rem;
        }
    }

    img {
        margin-top: 3rem;
        width: 20rem;

        @media (min-width: 1200px) {
            width: 40rem;
        }
    }
}

.about {
    background-color: var(--roxo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    position: relative;
    animation: animationRight 2s backwards;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1200px) {
            width: 50%;
        }
    }

    h2 {
        color: var(--fundo);
    }

    p {
        color: var(--fundo);
        text-align: center;
        font-family: 'Roboto Slab';
        font-weight: 300;
        margin-top: 1rem;
    }

    img {
        margin-top: 1rem;
        width: 10rem;
    }

}

.stacks {
    h3 {
        font-size: 1.5rem;
        color: var(--roxo);
    }

    padding: 0rem 1rem 1rem 1rem;
    border: 1px solid var(--contorno);
    border-radius: 10px;
    transform: translateY(-20px);
    background-color: var(--fundo);

    @media (min-width: 769px) {
        width: 50rem;
        transform: translateY(-30px);
    }

}

.frontendContainer {
    img {
        width: 2rem;
    }

    h3 {
        color: black;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    gap: 0.5rem;
    padding: 0.3rem 1rem;
}

.slider {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 6rem;
    }

    button {
        font-size: 0;
        background: inherit;
        border: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .arrow {
        margin: 2rem;
        width: 2rem;
    }
}

.footer {
    width: 100%;
    margin-top: 2rem;
    background-color: var(--roxo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 0rem;


    div {
        display: flex;
        gap: 1rem;
    }

    h4 {
        color: var(--fundo);
        font-size: 1.5rem;
    }

    img {
        width: 2rem;
        transition: 0.3s;

        &:hover {
            transform: translateY(-3px);
        }
    }
}