@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fonte);
    padding: 0.9rem 10rem;

    img {
        width: 7rem;
        animation: animation 2s backwards;
    }
}